{% extends 'base.html' %}

{% block title %}Anfitrion{% endblock %}

{% block content %}
    <h1>Esta es la pagina de anfitrion</h1>

    <h2>¿Qué es Innowise?</h2>
    <p>Innowise Sp.z.o.o. es una empresa global de desarrollo de software fundada en 2007 en Varsovia (Polonia) por tres ingenieros, incluyendo a Pavel Orlov, quien sigue como CEO</p>
    <p>Se especializa en :</p>
    <ul>
        <li>Desarrollo personalizado y staff augmentation (equipos dedicados)</li>
        <li>Diseño UI/UX y diseño 2D/3D</li>
        <li>DevOps y arquitectura cloud</li>
        <li>QA/testing, SEO, PPC y soporte continuo</li>
    </ul>


{% endblock %}