{% extends 'base.html' %}

{% block title %} Beneficios {% endblock %}

{% block content %}
    <h1>Esta es la pagina de beneficios</h1>
    <h2>Beneficios</h2>

    <section>
        <details>
            <summary>Acceso a conferencias Exclusivas</summary>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sapiente incidunt eligendi iusto optio est aperiam doloribus architecto blanditiis molestias!</p>
        </details>
        <details>
            <summary>Certificado de participación</summary>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, aliquam culpa. Illo neque necessitatibus numquam magni, cum veritatis voluptate labore.</p>
        </details>
        <details>
            <summary>Networking con expertos</summary>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique libero culpa molestias veritatis odit! Repudiandae, provident! Quibusdam repellat cupiditate architecto.</p>
        </details>
        <details>
            <summary>Material descargable y grabaciones</summary>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, cumque cum. Doloremque numquam eius maxime deleniti voluptatem cupiditate, soluta nisi!</p>
        </details>
        <details>
            <summary>Descuentos para cursos</summary>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquid amet perspiciatis ad dicta voluptates officiis distinctio vitae cupiditate consectetur!</p>
        </details>
    </section>

{% endblock %}