{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <section class="bg-700 text-white h-lvh bg-[url('/static/asset/conferencia.jpg')] bg-cover bg-center bg-no-repeat relative">
        <section class="w-[90%] max-w-[1200px] mx-auto h-full flex flex-col justify-center items-center">
            <h1>Liberando el poder del Desarrollo Web</h1>
            <p>Unete a nosotros en un emocionante viaje al mundo del Desarrollo Web donde creemos en aprovechar el potencial ilimitado de la innovación, la tecnología y el capital</p>
            <div>
                <a href="#">Reserva tu lugar ahora</a>
                <a href="#">Más Información</a>
            </div>
        </section>
    </section>
{% endblock %}